$tree-node-indent: 1em;
$tree-node-arrow-scale: 0.8;
$tree-node-arrow-color: red;

$tree-node-arrow-size-base: $tree-node-arrow-scale * 12px;
$tree-node-arrow-size-side: $tree-node-arrow-scale * 8px;

@mixin border-arrow() {
  display: block;
  content: '';

  width: 0;
  height: 0;
}

@function border-arrow-base() {
  @return $tree-node-arrow-scale * 12;
}

@mixin border-arrow-parent() {
  border: 0;
}

@mixin border-arrow-right() {
  @include border-arrow-parent;
  padding-left: 1px;
  padding-right: 2px;

  &:before {
    @include border-arrow;

    border-top: $tree-node-arrow-size-side solid transparent;
    border-left: $tree-node-arrow-size-base solid $tree-node-arrow-color;
    border-right: 0;
    border-bottom: $tree-node-arrow-size-side solid transparent;
  }
}


@mixin border-arrow-down() {
  @include border-arrow-parent;
  padding-top: 1px;
  padding-bottom: 2px;

  &:before {
    @include border-arrow;

    border-top: $tree-node-arrow-size-base solid $tree-node-arrow-color;
    border-left: $tree-node-arrow-size-side solid transparent;
    border-right: $tree-node-arrow-size-side solid transparent;
    border-bottom: 0;
  }
}

body {
  margin: 0;
  background-color: #c9fca8;
  font-family: sans-serif;
}

.TreeNodes,
.TreeNode,
.TreeNode ul.UiNode {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TreeNode {

  > .Toolbar {
    > .ToolbarItem {
      display: inline-block;

      &.ArrowButtonToolbarItem {
        button {
          margin: 0;
          padding: 0;
          background-color: initial;

          @include border-arrow-down();
        }
      }
    }
  }

  > .TreeNodes {
    margin-left: $tree-node-indent !important;
  }

  &.collapsed {
    > .Toolbar > .ArrowButtonToolbarItem button {
      @include border-arrow-right();
    }
  }
}

.ContextMenu {
  list-style: none;

  min-width: 120px;
  position: absolute;

  border: 1px solid #c9c9c9;
  background-color: white;

  padding: 0.4em 0;
  margin: 0;

  > .Item {
    &:hover {
      background-color: #e6e6e6;
    }
  }

  > .TextItem {
    padding: 0.4em 1em;
  }
}

.ModalWindow {
  position: absolute;
  top: 16%;
  left: 50%;

  transform: translate(-50%);

  background-color: white;
  border: 2px solid gray;

  > .ModalWindowHeader {
    padding: 0.6em;

    > .ModalWindowHeaderTitle {
      margin: 0;
      padding: 0;
    }
  }

  > .ModalWindowContent {
    padding: 0 0.6em;
  }

  .ModalWindowControls {
    list-style: none;
    margin: 1em;
    padding: 0;

    text-align: right;

    > .ModalWindowControl {
      display: inline-block;
      text-align: initial;

      + .ModalWindowControl {
        margin-left: 0.4em;
      }
    }
  }
}

.ControlUiNode {
  + .ControlUiNode {
    margin-top: 0.4em;
  }

  .LabelUiNode {
    .TextUiNode:first-child {
      width: 80px;
      display: inline-block;
      padding-right: 0.4em;
      vertical-align: top;
    }
  }

  .TextInputUiNode {
    padding: 0.2em;
    border: 0;
    border-bottom: 1px dashed gray;
    outline: 0;

    &[readonly] {
      color: #5d5d5d;
    }
  }

  .TextAreaUiNode {
    border: 0;
    border-bottom: 1px solid gray;
  }
}

.TabsUiNode {
  .ListTabsUiNode {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid gray;

    .TabUiNode {
      display: inline-block;
      border-color: #c4c4c4;
      border-style: solid;
      border-width: 0;
      border-top-width: 1px;
      border-left-width: 1px;
      color: #525252;

      &:last-child {
        border-right-width: 1px;
      }

      &.active {
        color: initial;
        border-color: gray;
        border-right-width: 1px;

        + .TabUiNode {
          border-left: 0;
        }

        .SpanUiNode {
          border-bottom: 2px solid white;
          margin-bottom: -2px;
          background-color: white;
        }

        //&:after {
        //  display: block;
        //  content: '';
        //  width: 100%;
        //  height: 1px;
        //  background-color: red;
        //}
      }

      .SpanUiNode {
        display: inline-block;
        padding: 0.4em 0.8em 0.1em;
      }
    }
  }

  .TabsContentUiNode {
    padding: 1em 0.4em 0.4em;
    border: 1px solid gray;
    border-top: 0;
  }
}

.PropertiesUiNode {
  $column-width: 40%;
  $cell-paddings: 0.2em 0.4em;

  width: 100%;
  border-collapse: collapse;

  > thead {
    background-color: #f0f0f0;
  }

  .TableCellUiNode {
    border: 1px solid #bebebe;

    &.LabelTableCellUiNode {
      padding: $cell-paddings;
      vertical-align: top;
    }
  }

  .PropertyUiNode {

    &.StaticPropertyUiNode {
      .ValueTableCellUiNode {
        .SpanUiNode {
          padding: 0.2em;
        }
      }
    }

    &.StringPropertyUiNode {
      .ValueTableCellUiNode {
        .TextInputUiNode {
          width: 100%;
          border: 0;
          padding: 0 0.2em;
          margin: 0;
          background: none;
          font-size: inherit;
          line-height: 1.4em;
          box-sizing: border-box;
        }
      }
    }

    &.TextPropertyUiNode {
      .ValueTableCellUiNode {
        .TextAreaUiNode {
          min-width: 100%;
          min-height: 100%;
          border: 0;
          padding: 0.2em;
          margin: 0;
          background: none;
          font-size: inherit;
          font-family: inherit;
          box-sizing: border-box;
          display: block;
        }
      }
    }

    &.SemverPropertyUiNode {
      .ValueTableCellUiNode {
        .NumberInputUiNode {
          width: 3em;
          border: 0;
          text-align: center;
          font-size: inherit;
        }
        .TextInputUiNode {
          width: 6em;
          border: 0;
          font-size: inherit;
        }
      }
    }
  }
}
